
/* variables */
:root{
  --font-family :'Roboto Condensed', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  width: 100%;
  height: 100%;
}
/* main fondo */
.fondo{
  position: relative;
  border: 1px solid black;
  background: url(img/foto.jpg)  center;
  width: 100%;
  height: 510px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  margin: 54px 0px;
  list-style-type: none;
  background-color: #272624;
}
.menu a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}
.circulo{
  margin: 0 auto;
  background: url(img/logo.png) center no-repeat cover;
  width: 100%;
  height: auto;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  animation-name: vuelta;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* animation-iteration-count: infinite; */
}
/* @keyframes vuelta {
  0%   {
      transform: rotate3d(0,1,0,0deg);
      -webkit-transform: rotate3d(0,1,0,0deg);
      -moz-transform: rotate3d(0,1,0,0deg);
      -ms-transform: rotate3d(0,1,0,0deg);
      -o-transform: rotate3d(0,1,0,0deg);
  }
  
  100% {
      transform: rotate3d(0,1,0,180deg);
      -webkit-transform: rotate3d(0,1,0,180deg);
      -moz-transform: rotate3d(0,1,0,180deg);
      -ms-transform: rotate3d(0,1,0,180deg);
      -o-transform: rotate3d(0,1,0,180deg);
      
  }
} */

/* seccion 2 */
.section{
  position: relative;
  width: 100%;
  height: auto;
  background: url(img/fondo2.jpg) center repeat;
  border: 1px solid black;
}
.cajageneral{
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}
P{
  font-weight: bold;
  color: white;
  text-align: center;
  font-size:35px;
  font-family: var(--font-family);
}
.productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.productos p{
  font-size: 23px;
}
.licores{
  width: 200px;
  height: 137px;
  border: 5px solid #F5BD34;
  border-radius: 18px ;
  background-color: #121212;
  margin: 19px;
  padding-top: .7rem;
  text-align: center;
}
.delivery{
  width: 510px;
  margin-right: 8rem;
}
.tabla{
  width: 321px;
  height: 362px;
  border: 5px solid #F5BD34;
  border-radius: 25px ;
  background-color: #272624;
  text-align: center;
  color: white;
}
.licores:hover,.tabla:hover{
  border: 5px solid #07d433;
  cursor: pointer;
}
/* Smartphones ---- */
@media screen and (max-width : 320px)
{

}
/* Smartphones ------------ */
@media  screen and (max-width : 767px)
{

}
/* Tablets --------------- */
@media  screen and (max-width : 1024px) 
{
  /* caja general */
  .cajageneral{
    display: flexbox;
    flex-direction: column;
    align-items: center;
    height: 950px;
  }
  .licores{
    margin: 2px;
  }
  .delivery{
    margin: 9px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}





/* parte 3 */
.fondonegro{
  width: 100%;
  height: 200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.texto>p{
  color:#F5BD34;
}
.botones{
  width: 780px;
  display: flex;
  justify-content: space-between;
  outline:none;
}
input[type="button"]{
  height: 32px;
  width: 98px;
  border-radius: 20px;
  background-color: #F5BD34;
  font-size: 19px;
  font-weight: 9px;
  border: none;
  cursor: pointer;
}
/* Smartphones ---- */
@media screen and (max-width : 320px)
{

}
/* Smartphones ------------ */
@media  screen and (max-width : 767px)
{
.botones{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.botones input{
  margin-top: 4px;
}
}



/* footer */
.footer{
  display: flex;
  width: 100%;
}
.contactanos{
  background-color: #110F0E;
  padding: 40px;
}
.ubicacion{
  background-color: #242526;
  padding: 40px;
}
.titulo h1,.ubicacion h1{
  font-family: var(--font-family);
  font-size: 35px;
  font-weight: 700;
}
.redes h2{
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 700;
}
.parrafo{
  margin: 19px 0px;
}
.parrafo p,.mapa p{
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: start;
}
.contactanos  p,.ubicacion p{
  color: white;
}
.footer h1,.redes h2{
  color: #ffbf10;
}
.formulario > input ,textarea{
  height: 50px;
  width: 592px;
  border: 2.5px solid #ffbf10;
  padding: 15px;
  margin: 3px;
  background-color: #110F0E;
  color: #ffbf10;
}
::placeholder, textarea{
  color: #ffbf10;
}
.enviar{
  height: 30px;
  width: 85px;
  border-radius: 20px;
  background-color: #F5BD34;
  font-size: 15px;
  font-weight: 9px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.contacto{
  margin-top: 15px;
  display: flex;
}
.redes p{
  font-size: 20px;
  display: flex;
  justify-content: start;
  margin: 12px;
}
p a,.productos a{
  text-decoration: none;
}
p a img{
  border: 1pz;
  width: 27px;
  height: 27px;
}
strong{
  color: white;
  padding: 0px 0px 18px 8px;
  left: 20px;
}
strong:hover{
  color: #0889B0;
  cursor: default;
}
.img{
  margin-left: 90px;
}
.img img{
  margin-top: 40px;
  width: 100px;
  border-radius: 50%;
}
.mapa{
  margin: 29px;
}
iframe{
  margin: 10px 0px;
  height: 201px;
  width: 503px;
}
/* Smartphones ---- */
@media screen and (max-width : 320px)
{

}


/* Smartphones ------------ */
@media  screen and (max-width : 767px)
{
  .footer{
    box-sizing: border-box;
    width: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    outline: none;
  }

 
  .ubicacion{
    /* width: 100%; */
    background-color: #242526;
  }
}


/* Tablets --------------- */
@media  screen and (max-width : 1024px) 
{
  textarea{
    height: 5rem;
  }
  .footer{
    width: 100%;
  }
  .contactanos,.ubicacion{
    /* width: 50%; */
  }
  .formulario > input, textarea{
    width: 23rem;
  }
  .contacto{
    display: flex;
    justify-content: space-between;
  }
  .redes p{
    font-size: 18px;
    display: flex;
    justify-content: start;
  }
  .redes img{
    width: 21px;
  }
  .mapa{
    margin: 3px;
  }
  iframe{
    height: 200px;
    width: 400px;
  }
}










































